<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inboundDetour</key>
	<array>
		<dict>
			<key>allocate</key>
			<dict>
				<key>concurrency</key>
				<integer>3</integer>
				<key>refresh</key>
				<integer>5</integer>
				<key>strategy</key>
				<string>always</string>
			</dict>
			<key>domainOverride</key>
			<array>
				<string>http</string>
				<string>tls</string>
			</array>
			<key>listen</key>
			<string>127.0.0.1</string>
			<key>port</key>
			<string>8001</string>
			<key>protocol</key>
			<string>http</string>
			<key>settings</key>
			<dict>
				<key>timeout</key>
				<integer>0</integer>
			</dict>
			<key>streamSettings</key>
			<dict/>
			<key>tag</key>
			<string>httpDetour</string>
		</dict>
	</array>
	<key>dns</key>
	<dict>
		<key>servers</key>
		<array>
			<string>8.8.8.8</string>
			<string>8.8.4.4</string>
			<string>localhost</string>
		</array>
	</dict>
	<key>inbound</key>
	<dict>
		<key>listen</key>
		<string>127.0.0.1</string>
		<key>port</key>
		<integer>1080</integer>
		<key>protocol</key>
		<string>socks</string>
		<key>settings</key>
		<dict>
			<key>auth</key>
			<string>noauth</string>
			<key>ip</key>
			<string>127.0.0.1</string>
			<key>udp</key>
			<false/>
		</dict>
	</dict>
	<key>log</key>
	<dict>
		<key>error</key>
		<string></string>
		<key>access</key>
		<string></string>
		<key>loglevel</key>
		<string>warning</string>
	</dict>
	<key>outbound</key>
	<dict>
		<key>mux</key>
		<dict>
			<key>enabled</key>
			<true/>
		</dict>
		<key>protocol</key>
		<string>vmess</string>
		<key>settings</key>
		<dict>
			<key>vnext</key>
			<array>
				<dict>
					<key>address</key>
					<string>192.168.1.9</string>
					<key>port</key>
					<integer>10086</integer>
					<key>users</key>
					<array>
						<dict>
							<key>alterId</key>
							<integer>64</integer>
							<key>id</key>
							<string>23ad6b10-8d1a-40f7-8ad0-e3e35cd38297</string>
							<key>security</key>
							<string>auto</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>streamSettings</key>
		<dict>
			<key>network</key>
			<string>tcp</string>
			<key>security</key>
			<string>none</string>
			<key>tlsSettings</key>
			<dict>
				<key>allowInsecure</key>
				<true/>
				<key>serverName</key>
				<string>v2ray.cool</string>
			</dict>
			<key>wsSettings</key>
			<dict>
				<key>path</key>
				<string>/v2ray.cool/</string>
			</dict>
		</dict>
	</dict>
	<key>outboundDetour</key>
	<array>
		<dict>
			<key>protocol</key>
			<string>freedom</string>
			<key>settings</key>
			<dict/>
			<key>tag</key>
			<string>direct</string>
		</dict>
	</array>
	<key>policy</key>
	<dict>
		<key>levels</key>
		<dict>
			<key>0</key>
			<dict>
				<key>uplinkOnly</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>routing</key>
	<dict>
		<key>settings</key>
		<dict>
			<key>domainStrategy</key>
			<string>IPIfNonMatch</string>
			<key>rules</key>
			<array>
				<dict>
					<key>type</key>
					<string>field</string>
					<key>outboundTag</key>
					<string>direct</string>
					<key>domain</key>
					<array>
						<string>localhost</string>
						<string>domain:me.com</string>
						<string>domain:lookup-api.apple.com</string>
						<string>domain:icloud-content.com</string>
						<string>domain:icloud.com</string>
						<string>domain:cdn-apple.com</string>
						<string>domain:apple-cloudkit.com</string>
						<string>domain:apple.com</string>
						<string>domain:apple.co</string>
						<string>domain:aaplimg.com</string>
						<string>domain:guzzoni.apple.com</string>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>field</string>
					<key>outboundTag</key>
					<string>direct</string>
					<key>ip</key>
					<array>
						<string>geoip:private</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>strategy</key>
		<string>rules</string>
	</dict>
</dict>
</plist>
