<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dns</key>
	<dict>
		<key>servers</key>
		<array>
			<string>8.8.8.8</string>
			<string>8.8.4.4</string>
			<string>localhost</string>
		</array>
	</dict>
	<key>inbound</key>
	<dict>
		<key>listen</key>
		<string>127.0.0.1</string>
		<key>port</key>
		<integer>1080</integer>
		<key>protocol</key>
		<string>socks</string>
		<key>settings</key>
		<dict>
			<key>auth</key>
			<string>noauth</string>
			<key>ip</key>
			<string>127.0.0.1</string>
			<key>udp</key>
			<false/>
		</dict>
	</dict>
	<key>log</key>
	<dict>
		<key>loglevel</key>
		<string>warning</string>
	</dict>
	<key>outbound</key>
	<dict>
		<key>mux</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>
		<key>protocol</key>
		<string>vmess</string>
		<key>settings</key>
		<dict>
			<key>vnext</key>
			<array>
				<dict>
					<key>address</key>
					<string>v2ray.cool</string>
					<key>port</key>
					<integer>10086</integer>
					<key>users</key>
					<array>
						<dict>
							<key>alterId</key>
							<integer>64</integer>
							<key>id</key>
							<string>a3482e88-686a-4a58-8126-99c9df64b7bf</string>
							<key>security</key>
							<string>auto</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>outboundDetour</key>
	<array>
		<dict>
			<key>protocol</key>
			<string>freedom</string>
			<key>settings</key>
			<dict/>
			<key>tag</key>
			<string>direct</string>
		</dict>
	</array>
	<key>routing</key>
	<dict>
		<key>settings</key>
		<dict>
			<key>domainStrategy</key>
			<string>IPIfNonMatch</string>
			<key>rules</key>
			<array>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>port</key>
					<string>1-52</string>
					<key>type</key>
					<string>field</string>
				</dict>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>port</key>
					<string>54-79</string>
					<key>type</key>
					<string>field</string>
				</dict>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>port</key>
					<string>81-442</string>
					<key>type</key>
					<string>field</string>
				</dict>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>port</key>
					<string>444-65535</string>
					<key>type</key>
					<string>field</string>
				</dict>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>type</key>
					<string>chinasites</string>
				</dict>
				<dict>
					<key>ip</key>
					<array>
						<string>0.0.0.0/8</string>
						<string>10.0.0.0/8</string>
						<string>100.64.0.0/10</string>
						<string>127.0.0.0/8</string>
						<string>169.254.0.0/16</string>
						<string>172.16.0.0/12</string>
						<string>192.0.0.0/24</string>
						<string>192.0.2.0/24</string>
						<string>192.168.0.0/16</string>
						<string>198.18.0.0/15</string>
						<string>198.51.100.0/24</string>
						<string>203.0.113.0/24</string>
						<string>::1/128</string>
						<string>fc00::/7</string>
						<string>fe80::/10</string>
					</array>
					<key>outboundTag</key>
					<string>direct</string>
					<key>type</key>
					<string>field</string>
				</dict>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>type</key>
					<string>chinaip</string>
				</dict>
			</array>
		</dict>
		<key>strategy</key>
		<string>rules</string>
	</dict>
</dict>
</plist>
