<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>port</key>
	<integer>1080</integer>
	<key>inbound</key>
	<dict>
		<key>protocol</key>
		<string>socks</string>
		<key>settings</key>
		<dict>
			<key>auth</key>
			<string>noauth</string>
			<key>ip</key>
			<string>127.0.0.1</string>
			<key>udp</key>
			<false/>
		</dict>
	</dict>
	<key>outbound</key>
	<dict>
		<key>protocol</key>
		<string>vmess</string>
		<key>settings</key>
		<dict>
			<key>vnext</key>
			<array>
				<dict>
					<key>address</key>
					<string>195.154.64.131</string>
					<key>port</key>
					<integer>17173</integer>
					<key>users</key>
					<array>
						<dict>
							<key>alterId</key>
							<integer>1024</integer>
							<key>id</key>
							<string>1ad52bdc-16d1-41a5-811d-f5c0c76d677b</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>outboundDetour</key>
	<array>
		<dict>
			<key>protocol</key>
			<string>freedom</string>
			<key>settings</key>
			<dict/>
			<key>tag</key>
			<string>direct</string>
		</dict>
	</array>
	<key>routing</key>
	<dict>
		<key>settings</key>
		<dict>
			<key>rules</key>
			<array>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>type</key>
					<string>chinasites</string>
				</dict>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>type</key>
					<string>field</string>
					<key>ip</key>
					<array>
						<string>0.0.0.0/8</string>
						<string>10.0.0.0/8</string>
						<string>100.64.0.0/10</string>
						<string>127.0.0.0/8</string>
						<string>169.254.0.0/16</string>
						<string>172.16.0.0/12</string>
						<string>192.0.0.0/24</string>
						<string>192.0.2.0/24</string>
						<string>192.168.0.0/16</string>
						<string>198.18.0.0/15</string>
						<string>198.51.100.0/24</string>
						<string>203.0.113.0/24</string>
						<string>::1/128</string>
						<string>fc00::/7</string>
						<string>fe80::/10</string>
					</array>
				</dict>
				<dict>
					<key>outboundTag</key>
					<string>direct</string>
					<key>type</key>
					<string>chinaip</string>
				</dict>
			</array>
		</dict>
		<key>strategy</key>
		<string>rules</string>
	</dict>
	<key>log</key>
	<dict>
		<key>access</key>
		<string></string>
	</dict>
</dict>
</plist>
